doctype html
html(ng-app="TodoModule")
  head
    title= title
    link(rel='stylesheet', href='/examples/todolist/stylesheets/style.css')
    
    script(type='text/javascript', src='/examples/todolist/javascripts/vendor/angular/angular.js')
    script(type='text/javascript', src='/examples/todolist/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(type='text/javascript', src='/examples/todolist/javascripts/TodoModule.js')
    
    block head 
    
  body
    block content